<!-- Footer_Wrapper Start-->
<footer class="wdt_100">
  <!-- Footer_Container Start-->
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ftr_txt_div"><img src="/images/logo280adjusted.png" alt="image">
        <!--<p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor asin cididunt ut labore et dolore magna ali qua.
          Lorem ipsum dolor sit amet.
        </p>
        <ul class="ftr_social">
          <li><a href="#"><i aria-hidden="true" class="fa fa-facebook"></i></a></li>
        </ul>-->
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ftr_nav ftr_pad_30">
        <h6>Useful Links</h6>
        <ul>
          {% for my_page in site.pages %}
          {% if my_page.title %}
          <li><a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
          {% endif %}
          {% endfor %}
          <li><a href="#">Pay Bill</a></li>
        </ul>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ftr_nav get_in_touch">
        <h6>Get In Touch</h6>
        <ul>
          <li class="ftr_location_icon"><span class="txt-big">Aztek Landscaping</span> 6052 S. California Ave. Chicago, IL 60629</li>
          <li class="ftr_phn_icon ftr_call_txt">773-701-3083</li>
          <li class="ftr_clock_icon">Monday - Friday : 8:00am - 5:00pm</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Footer_Container End-->
  <!-- Copyright Start-->
  <div class="ftr_btm">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
          <p>Copyright © Aztek Landscaping 2017. All rights reserved. </p>
        </div>
      </div>
    </div>
  </div>
  <!-- Copyright End-->
</footer>
<!-- Footer_Wrapper End-->
<!-- helper js-->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.touchSwipe.min.js"></script>
<script src="/js/theme.js"></script>
<script src="/js/responsive_bootstrap_carousel.js"></script>