---
layout: default
---

  <!-- Inner_Heading Start-->
  <div class="inner_page_bnr">
    <div class="container">
      <h2>{{ page.title }}</h2>
      <!-- BreadCrumb Start-->
      <div class="breadcum_bg">
        <div class="container">
          <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">{{ page.title }}</li>
          </ol>
        </div>
      </div>
      <!-- BreadCrumb End-->
    </div>
  </div>
  <!-- Inner_Heading End-->

<!-- Container Start-->
<div class="pad_100 wdt_100">
  <div class="container">
    <div class="quality-list service-list">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 service_marbtm">
          <img src="//res.cloudinary.com/brightplum/image/upload/s--e5Xe6hvL--/c_scale,e_auto_brightness,h_210,q_jpegmini,w_370/v1493573589/aztek/20150518_134651.jpg" alt="Lawn and Garden Care" class="zoom_img_effect">
          <h5>Lawn & Garden Care</h5>
          <p>We offer raking, mowing, trimming, sodding, and watering services.</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 service_marbtm">
          <img src="http://res.cloudinary.com/brightplum/image/upload/s--7OHh_nEw--/c_scale,e_auto_brightness,h_210,q_jpegmini,w_370/v1493600978/aztek/2012-04-29_10.44.03_Flossmoor_Illinois_US.jpg" alt="Irrigation" class="zoom_img_effect">
          <h5>Irrigation & Drainage</h5>
          <p>Lorem ipsum dolor sit amet, consecte turelit. Vestibulum nec odio ipsumer Suspe ndisse cursus malesuada.</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 service_marbtm">
          <img src="http://res.cloudinary.com/brightplum/image/upload/s--7OHh_nEw--/c_scale,e_auto_brightness,h_210,q_jpegmini,w_370/v1493600978/aztek/2012-04-29_10.44.03_Flossmoor_Illinois_US.jpg" alt="Irrigation" class="zoom_img_effect">
          <h5>Stone & Hard Scaping</h5>
          <p>Lorem ipsum dolor sit amet, consecte turelit. Vestibulum nec odio ipsumer Suspe ndisse cursus malesuada.</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 service_marbtm">
          <img src="http://res.cloudinary.com/brightplum/image/upload/s--7OHh_nEw--/c_scale,e_auto_brightness,h_210,q_jpegmini,w_370/v1493600978/aztek/2012-04-29_10.44.03_Flossmoor_Illinois_US.jpg" alt="Irrigation" class="zoom_img_effect">
          <h5>Planting & Removal</h5>
          <p>Lorem ipsum dolor sit amet, consecte turelit. Vestibulum nec odio ipsumer Suspe ndisse cursus malesuada.</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 service_marbtm">
          <img src="http://res.cloudinary.com/brightplum/image/upload/s--7OHh_nEw--/c_scale,e_auto_brightness,h_210,q_jpegmini,w_370/v1493600978/aztek/2012-04-29_10.44.03_Flossmoor_Illinois_US.jpg" alt="Irrigation" class="zoom_img_effect">
          <h5>Spring & Fall Cleanup</h5>
          <p>Lorem ipsum dolor sit amet, consecte turelit. Vestibulum nec odio ipsumer Suspe ndisse cursus malesuada.</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 service_marbtm">
          <img src="http://res.cloudinary.com/brightplum/image/upload/s--7OHh_nEw--/c_scale,e_auto_brightness,h_210,q_jpegmini,w_370/v1493600978/aztek/2012-04-29_10.44.03_Flossmoor_Illinois_US.jpg" alt="Irrigation" class="zoom_img_effect">
          <h5>Snow & Ice Removal</h5>
          <p>Lorem ipsum dolor sit amet, consecte turelit. Vestibulum nec odio ipsumer Suspe ndisse cursus malesuada.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Container End-->